.caixa-confirmacao{
    width: 700px;
    height: 400px;

    position: fixed;
    top: 25vh;
    right: 25vw;
    z-index: 3px;

    background-color: #00D4E6;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.caixa-confirmacao p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #E5E5E5;
    margin-bottom: 20px;
}

.caixa-confirmacao strong{
    font-weight: bold;
}
.caixa-confirmacao .titulo{
    font-size: 30px;
}

.caixa-confirmacao .camisa-conf{
    width: 140px;
    height: 140px;

    margin-bottom: 10px;
}

.caixa-confirmacao button{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #F2F2F2;
    background-color: #404EED;
    width: 396.27px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hidden{
    display: none;
}